*{
	margin:0;
	padding:0;
}

body{
	font-size:font: 12px/1.62 Helvetica,Arial,sans-serif;
}

a{
	color:#3377AA;
	text-decoration: none;
    font-size: 12px;
}

a:hover{
	background:#3377AA ;
	color:#ffffff;
}

img,input{
    border: none;
    border:1px solid none;
}

li{
    list-style-type: none;
}

.title{
    font-size: 15px;
    color: #072;
    font-weight: 400;

}
/*头部导航开始*/
.hd_header{
    width:950px;
    height: 90px;
/*    border: 1px solid red;*/
    margin: 0 auto;
    position: relative;
}

.hd_header a.hd_logo{
    position: absolute;
    top:30px;
    left:0;
}

.hd_header .hd_search{
    position: absolute;
    width:270px;
    height: 34px;
    line-height: 34px;
    left:185px;
    top:32px;
    padding-left: 3px;
    border:1px solid #ccc;
}

.hd_header form img{
    position: absolute;
    width: 13px;
    height: 13px;
    left:435px;
    top:45px;
}

.hd_header ul{
    position: absolute;
    width: 460px;
    height: 23px;
    left: 500px;
    top:37px;
}

.hd_header ul li{
    list-style-type: none;
   float: left;
  margin-right: 20px;
}

.hd_header .hd_last{
    margin-right: 0;
}

.hd_header ul li a{
    display: block;
    width: 42px;
    height: 22px;
}

.hd_header ul li a.hd_a{
    background: url("./images/anony_nav_logo4.png") 0px 0px no-repeat;
}
.hd_header ul li a.hd_b{
    background: url("./images/anony_nav_logo4.png") -58px 0px no-repeat;
}
.hd_header ul li a.hd_c{
    background: url("./images/anony_nav_logo4.png") -119px 0px no-repeat;
}
.hd_header ul li a.hd_d{
    background: url("./images/anony_nav_logo4.png") -179px 0px no-repeat;
}
.hd_header ul li a.hd_e{
    width: 80px;
    background: url("./images/anony_nav_logo4.png") -240px 0px no-repeat;
}
.hd_header ul li a.hd_f{
    background: url("./images/anony_nav_logo4.png") -338px 0px no-repeat;
}
.hd_header ul li a.hd_g{
    background: url("./images/anony_nav_logo4.png") -400px 0px no-repeat;
}
/*头部导航结束*/




/*注册以及下载app推广部分开始*/
.hd_reg{
    width: 100%;
    height: 180px;
    background: #e8edf1;
}
.hd_reg .wrp{
    width: 950px;
    height: 180px;
    margin: 0 auto;
    background:url("./images/doubanapp.png")no-repeat 30px 40px;
    position: relative;
}

.hd_reg .app{
    position: absolute;
    width: 240px;
    height: 108px;
    left:278px;
    top:46px;
    border-right:1px solid #cccccc;

}

.hd_reg .app p{
    color:#666666;
    margin-bottom: 10px;
}

.hd_reg .app .douban{
    font-size: 22px;
}

.hd_reg .app .wenzi{
    font-size: 14px;
}
.hd_reg .app a{
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
}


.hd_reg .app a.khd{
    width: 134px;
    height: 32px;
    text-align: center;
    background: #3ca353;
    color:#ffffff;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
}

.hd_reg .app a.lianjie{
   border: 1px solid #cccccc;
}

.hd_reg .logo_a,.hd_reg .logo_b{
 /*   display: block;*/
    position: absolute;
    left:570px;
    width:180px;
    height: 34px;
    line-height: 34px;
    padding-left: 10px;
}
.hd_reg .logo_a{
    top:19px;
}
.hd_reg .logo_b{
    top:62px;
}

.hd_reg .logo_c{
    position: absolute;
    width: 50px;
    height: 15px;
    left:770px;
    top:73px;
    font-size: 12px;
    color:#3377AA;
}

.hd_reg .logo_d{
    position: absolute;
    width: 50px;
    height: 15px;
    left:553px;
    top:112px;
}

.hd_reg .logo_e{
    position: absolute;
    width: 40px;
    height: 15px;
    left:590px;
    top:112px;
    font-size: 12px;
}

.hd_reg .logo_f,.hd_reg .logo_g{
    /*   display: block;*/
    position: absolute;
    width:75px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    top:135px;
}

.hd_reg .logo_f{
    left:570px;
    background: #3ca353;
    color:#ffffff;
    height: 34px;
    line-height: 34px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
}

.hd_reg .logo_g{
    left:650px;
    border: 1px solid #ef735f;
    color:#ef735f;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
}

/*注册以及下载app推广部分结束*/

/*注册下的广告开始*/
.hd_ad{
    width: 950px;
    height: 90px;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 15px;
}
/*注册下的广告结束*/

/*第一部分内容：热点内容*/
.hd_center_a{
    width: 950px;
    height: 470px;
    margin: 0 auto;
/*    border:1px solid red;*/
    position: relative;
    margin-bottom: 70px;
}

.hd_center_a .left{
    position: absolute;
    width: 370px;
    height: 470px;
    /*border:1px solid blue;*/
}

.hd_center_a .left li{
    margin-top: 10px;
    float: left;
    margin-right: 10px;
    width: 170px;
    height: 210px;
}

.hd_center_a .left li a{
   /* display: block;*/
    font-size: 12px;
}

.hd_center_a .left li span{
    font-size: 12px;
    color:#999999;
}

.hd_center_a .cen{
    position: absolute;
    width: 280px;
    height: 470px;
    left:370px;
   /* border:1px solid green;*/

}

.hd_center_a .cen ul{
    margin-top: 25px;
}

.hd_center_a .cen li{
    line-height: 20px;
    margin-bottom: 15px;
}

.hd_center_a .cen li h2{
    font-size: 12px;
    font-weight: 400;
    color:#999999;
}

.hd_center_a .cen li span{
    font-size: 12px;
    color:#666666;
}

.hd_center_a .right{
    position: absolute;
    left: 670px;
    width: 280px;
    height: 470px;
   /* border:1px solid red;*/
}

.hd_center_a .right li{
   margin-left: 12px;
    line-height: 20px;
    margin-bottom: 15px;
}

.hd_center_a .right p,.hd_center_a .right b{
    font-size: 12px;
    color:#999999;
}

/*第一部分内容：热点内容结束*/


/*第二部分内容：正在热映，影片分类开始*/
.hd_center_b{
    width: 100%;
    height: 770px;
    background: #f7f7f7;
}
.hd_center_bb{
    width: 950px;
    height: 770px;
    margin: 0 auto;
    position: relative;

}

.hd_center_b .left{
    position: absolute;
    width: 100px;
    height: 550px;
    margin-top: 50px;
}

.hd_center_b .left ul{
      height: 227px;
  }


.hd_center_b .left ul h2 a{
    font-size: 24px;
    color:#3377AA;
    font-weight: 500;
}

.hd_center_b .left ul h2 a:hover{
    color:#ffffff;

}

.hd_center_b .left li{
   margin-top: 15px;
}

.hd_center_b .left li a{
    font-size: 14px;
}

.hd_center_b .cen{
    position: absolute;
    width: 550px;
    height: 550px;
    left:100px;
    margin-top: 50px;
}

.hd_center_b .cen li{
    width: 106px;
    height: 226px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

.hd_center_b .cen li a,.hd_center_b .cen li span{
    text-align: center;
   display: block;
    font-size: 13px;
    margin-bottom: 10px;
}
.hd_center_b .cen li .img{
      margin-bottom: 10px;
    background: #ffffff;
  }

.hd_center_b .cen li .anniu{
    margin: 0 auto;
    width: 68px;
    height: 26px;
    line-height: 26px;
    color:#ffffff;
    background: #3377AA;
    border-radius:2px ;
    -moz-border-radius: 2px;
    -webkit-border-radius:2px;

}
.hd_center_b .cen li .pianming{
    color: #333333;
}

.hd_center_b .right{
    position: absolute;
    width: 300px;
    height: 550px;
    left:650px;
    margin-top: 50px;
}

.hd_center_b .right .fenlei{
    width: 300px;
    height: 200px;
}
 .hd_center_b .right .remen{
     width: 300px;
     height: 330px;
    margin-top: 20px;
 }
.hd_center_b .right .remen li{
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #eee9e9;
}
.hd_center_b .right .biaoqian a{
    width: 25px;
    height: 14px;
    line-height: 16px;
    display: block;
    float: left;
    margin-right: 26px;
    margin-top: 15px;
}
 .hd_center_b .guanggao{
     position: absolute;
     width: 950px;
     height: 90px;
     top:630px;
     margin: 0 auto;
 }
/*第二部分内容：正在热映，影片分类结束*/


/*第三部分内容开始*/
.hd_center_c{
    width: 950px;
    height: 600px;
    margin: 30px auto;
    position: relative;

}

.hd_center_c .left{
    position: absolute;
    width: 100px;
    height: 600px;
}

.hd_center_c .left ul{
    height: 260px;
}

.hd_center_c .left ul a{
    color:#017a85;
}
.hd_center_c .left ul h2 a{
    font-size: 24px;
    color:#017a85;
    font-weight: 500;
}

.hd_center_c .left ul a:hover{
    color:#ffffff;

}

.hd_center_c .left li{
    margin-top: 15px;
}

.hd_center_c .left li a{
    font-size: 14px;
}

.hd_center_c .cen{
    position: absolute;
    width: 550px;
    height: 600px;
    left:100px;
}
.hd_center_c .cen h2{
    margin-bottom: 20px;
}

.hd_center_c .cen li{
    width: 270px;
    height: 65px;
    float: left;
    margin-bottom: 20px;
}
.hd_center_c .cen li .img{
    display: block;
    float: left;
}
.hd_center_c .cen li .biaoqian{
    display: block;
    color:#017a85;
    width: 130px;
    margin-bottom: 5px;
    margin-left: 60px;
}

.hd_center_c .cen li .biaoqian:hover{
    color: #ffffff;

}

.hd_center_c .cen li span{
    display: block;
    font-size: 12px;
    width: 130px;
    height: 20px;
    color:#666666;
    margin-left: 60px;
}

.hd_center_c .right{
    position: absolute;
    width: 300px;
    height: 600px;
    left:650px;
}
.hd_center_c .right li {
    float: left;
    width:300px ;
    margin-top: 10px;
}
.hd_center_c .right li p{
    font-size: 14px;
	color:#555;
}

.hd_center_c .right li a{
    display: block;
    float: left;
    width: 27px;
    height: 17px;
    line-height: 17px;
    text-align: center;
    margin-right: 12px;
    margin-top: 5px;
    color:#017a85;
}

.hd_center_c .right li a:hover{
  color:#ffffff;
}

/*第三部分内容结束*/



/*第四部分开始*/
.hd_center_d{
    width: 950px;
    height: 600px;
    margin: 0 auto;
    position: relative;

}

.hd_center_d .left{
    position: absolute;
    width: 100px;
    height: 600px;

}

.hd_center_d .left ul{
    height: 300px;
}

.hd_center_d .left ul a{
    color:#017a85;
}
.hd_center_d .left ul h2 a{
    font-size: 24px;
    color:#614e3c;
    font-weight: 500;
}

.hd_center_d .left ul a:hover{
    color:#ffffff;

}

.hd_center_d .left .dushu{
    margin-top: 15px;

}

.hd_center_d .left .dushu a{
    font-size: 14px;
    color:#614e3c;
}
.hd_center_d .left .ico{
    display: block;
    width: 50px;
    height: 50px;
    border-radius:12px;
    margin: 20px 0px 0px 0px;
    background: url("./images/ico.jpg") 0px 0px no-repeat;
}

.hd_center_d .left .ico_a{
    color:#614e3c;
}

.hd_center_d .cen{
    position: absolute;
    width: 520px;
    height: 600px;
    left:100px;
}
.hd_center_d .cen h2{
    margin-bottom: 20px;
}

.hd_center_d .cen li{
    width: 126px;
    height: 240px;
    float: left;
    margin-left: 2px;
    margin-bottom: 20px;
}

.hd_center_d .cen li a,.hd_center_d .cen li span,.hd_center_d .cen li p{
    text-align: center;
    display: block;
    font-size: 13px;
    margin-bottom: 2px;
}
.hd_center_d .cen li p{
    color:#666666;
}
.hd_center_d .cen li .img{
    margin-bottom: 10px;
    background: #ffffff;
}

.hd_center_d .cen li .anniu{
    margin: 0 auto;
    width: 68px;
    height: 26px;
    line-height: 26px;
    color:#ffffff;
    background: #999a95;
    border-radius:2px ;
    -moz-border-radius: 2px;
    -webkit-border-radius:2px;

}
.hd_center_d .cen li .pianming{
    color: #614e3c;
}
.hd_center_d .cen li .pianming:hover{
    color: #ffffff;
}

.hd_center_d .right{
    position: absolute;
    width: 300px;
    height: 600px;
    left:650px;
}

.hd_center_d .right a{
    color:#614e3c;
}
.hd_center_d .right li {
    float: left;
    width:300px ;
      height: 60px;
    margin-top: 10px;
    border-bottom: 1px solid #e8edf1;
}

.hd_center_d .right li a,.hd_center_d .right li span{
    display: block;
    float: left;
    width: 27px;
    height: 17px;
    line-height: 17px;
    text-align: center;
    margin-right: 12px;
    margin-top: 5px;
    color:#614e3c;
}

.hd_center_d .right li span{
    width: 38px;
    height: 17px;
    font-size: 12px;
    color:#999999;
}

.hd_center_d .right li a:hover{
    color:#ffffff;
}
/*第四部分结束*/



/*第五部分开始*/
.hd_center_e{
    width: 100%;
    height: 600px;
    background: #f7f7f7;
}

.hd_center_ee{
    width: 950px;
    height: 600px;
    margin: 60px auto;
    position: relative;

}

.hd_center_e .left{
    position: absolute;
    width: 100px;
    height: 600px;
    margin-top: 40px;

}

.hd_center_e .left ul{
    height: 600px;
}

.hd_center_e .left ul a{
    color:#017a85;
}
.hd_center_e .left ul h2 a{
    font-size: 24px;
    color:#614e3c;
    font-weight: 500;
}

.hd_center_e .left ul a:hover{
    color:#ffffff;

}

.hd_center_e .left .dushu{
    margin-top: 15px;

}

.hd_center_e .left .dushu a{
    font-size: 14px;
    color:#614e3c;
}
.hd_center_e .left .ico{
     display: block;
     width: 50px;
     height: 50px;
     border-radius:12px;
     margin: 20px 0px 0px 0px;
     background: url("./images/ico.jpg") -250px 0px no-repeat;
 }

.hd_center_e .left .ico_a{
    display: block;
    width: 50px;
    height: 50px;
    border-radius:12px;
    margin: 20px 0px 0px 0px;
    background: url("./images/ico.jpg") -50px 0px no-repeat;
}

.hd_center_e .left .tubiao a{
    color:#333333;
}

.hd_center_e .cen{
    position: absolute;
    width: 520px;
    height: 600px;
    left:100px;
    margin-top: 40px;
}
.hd_center_e .cen h2{
    margin-bottom: 20px;
}

.hd_center_e .cen li{
    width: 126px;
    height: 145px;
    float: left;
    margin-left: 2px;
    margin-bottom: 20px;
}

.hd_center_e .cen li a,.hd_center_e .cen li span,.hd_center_e .cen li p{
    text-align: center;
    display: block;
    font-size: 13px;
    margin-bottom: 2px;
    color: #555d53;
}
.hd_center_e .cen li p{
    color:#666666;
}
.hd_center_e .cen li .img{
    margin-bottom: 10px;
    background: #ffffff;
    height: 85px;
}

.hd_center_e .cen .gedan img{
    width: 82px;
    height: 82px;
    background: url("images/bofang.png") no-repeat;

}
.hd_center_e .cen .gedan li{
   position: relative;

}

.hd_center_e .cen .gedan li i{
    position: absolute;
    width: 45px;
    height: 45px;
    top:20px ;
    left: 40px;

    background: url("images/bofang.png") no-repeat;

}

.hd_center_e .cen .gedan span{
    font-size: 13px;
    color:#111111;

}

.hd_center_e .cen li .pianming,.hd_center_e .cen li .anniu{
    color: #555d53;
}
.hd_center_e .cen li .pianming:hover{
    color: #ffffff;
}



.hd_center_e .right{
    position: absolute;
    width: 300px;
    height: 600px;
    left:650px;
    margin-top: 40px;
}

.hd_center_e .right li {
    counter-increment: listxh;
    width:300px ;
    height: 80px;
    margin-top: 20px;
}

.hd_center_e .right li a,.hd_center_e .right li span{
    display: block;
    font-size: 12px;
    margin-left: 20px;

}
.hd_center_e .right li img{
    float: left;
    width: 55px;
    height: 60px;
}

.hd_center_e .right li .mz{
    color:#333333;
    margin-left: 90px;
    width: 40px;
    height:15px;
}

.hd_center_e .right li .mz:hover{
    color:#ffffff;
}


.hd_center_e .right li span{
    color:#999999;
    margin-top: 10px;
    margin-left: 90px;
}


/*第五部分结束*/


/*第六部分开始*/


.hd_center_f{
    width: 950px;
    height: 600px;
    margin: 60px auto;
    position: relative;

}

.hd_center_f .left{
    position: absolute;
    width: 100px;
    height: 600px;
    margin-top: 40px;

}

.hd_center_f .left ul{
    height: 600px;
}

.hd_center_f .left ul a{
    color:#017a85;
}
.hd_center_f .left ul h2 a{
    font-size: 24px;
    color:#007722;
    font-weight: 700;
}

.hd_center_f .left ul a:hover{
    color:#ffffff;

}

.hd_center_f .left .dushu{
    margin-top: 15px;

}

.hd_center_f .left .dushu a{
    font-size: 14px;
    color:#614e3c;
}
.hd_center_f .left .ico{
    display: block;
    width: 50px;
    height: 50px;
    border-radius:12px;
    margin: 20px 0px 0px 0px;
    background: url("./images/ico.jpg") -250px 0px no-repeat;
}

.hd_center_f .left .ico_a{
    display: block;
    width: 50px;
    height: 50px;
    border-radius:12px;
    margin: 20px 0px 0px 0px;
    background: url("./images/ico.jpg") -50px 0px no-repeat;
}

.hd_center_f .left .tubiao a{
    color:#333333;
}

.hd_center_f .cen{
    position: absolute;
    width: 520px;
    height: 600px;
    left:100px;
    margin-top: 40px;
}



.hd_center_f .cen li{
    float: left;
    margin-top: 12px;
    border: 1px solid #ffffff;
}

.hd_center_f .cen li a{
display: block;
}

.hd_center_f .cen .img{
    width: 260px;
}

.hd_center_f .cen .img a,.hd_center_f .cen .img span{
    font-size: 14px;
    display: block;
    float: left;
}

.hd_center_f .cen .img span{

    color:#666666;
    margin-left:20px;

}

.hd_center_f .cen .img_a {
    margin-left: 15px;
    text-align: center;
   /* height: 136px;*/

}


.hd_center_f .right{
    position: absolute;
    width: 300px;
    height: 600px;
    left:650px;
    margin-top: 40px;
}

.hd_center_f .right li {
    counter-increment: listxh;
    width:300px ;
    height: 60px;
    margin-top: 10px;
}

.hd_center_f .right li a,.hd_center_f .right li span{
    display: block;
    font-size: 12px;
    margin-left: 20px;

}
.hd_center_f .right li img{
    float: left;
    width: 55px;
    height: 60px;
}

.hd_center_f .right li .mz{
    color:#3377AA;
    margin-left: 90px;
  /*  width: 150px;*/
   /* height:15px;*/
}

.hd_center_f .right li .mz:hover{
    color:#ffffff;
}


.hd_center_f .right li span{
    color:#666666;
    margin-top: 10px;
    margin-left: 90px;
}


/*第六部分结束*/



/*第七部分开始*/
.hd_center_g{
    width: 950px;
    height: 650px;
    margin: 0 auto;
    position: relative;

}

.hd_center_g .left{
    position: absolute;
    width: 100px;
    height: 600px;

}

.hd_center_g .left ul{
    height: 300px;
}

.hd_center_g .left ul a{
    color:#017a85;
}
.hd_center_g .left ul h2 a{
    font-size: 24px;
    color:#614e3c;
    font-weight: 500;
}

.hd_center_g .left ul a:hover{
    color:#ffffff;

}

.hd_center_g .left .dushu{
    margin-top: 15px;

}

.hd_center_g .left .dushu a{
    font-size: 14px;
    color:#614e3c;
}
.hd_center_g .left .ico{
    display: block;
    width: 50px;
    height: 50px;
    border-radius:12px;
    margin: 20px 0px 0px 0px;
    background: url("./images/ico.jpg") 0px 0px no-repeat;
}

.hd_center_g .left .ico_a{
    color:#614e3c;
}

.hd_center_g .cen{
    position: absolute;
    width: 550px;
    height: 600px;
    left:100px;
}



.hd_center_g .cen li{
    float: left;
    margin-left: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hd_center_g .cen li img{
      width: 265px;
      height: 250px;
  }

.hd_center_g .cen li a,.hd_center_g .cen li span{
    display: block;
    width: 265px;
    color:#614e3c;
}
.hd_center_g .cen li span{
    margin-top: 5px;
}

.hd_center_g .right{
    position: absolute;
    width: 300px;
    height: 600px;
    left:650px;
    margin-left: 30px;
}

.hd_center_g .right a{
    color:#614e3c;
}
.hd_center_g .right li {
    float: left;
    width:300px ;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e8edf1;
}

.hd_center_g .right li a{
    display: block;
    float: left;
    width: 27px;
    height: 17px;
    line-height: 17px;
    text-align: center;
    margin-right: 12px;
    margin-top: 10px;
    color:#614e3c;
}
.hd_center_g .right p{
    font-size: 14px;
    color:#666666;
}
.hd_center_g .right li p{
    width: 38px;
    height: 17px;
    font-size: 14px;
    color:#999999;
}

.hd_center_g .right li a:hover{
    color:#ffffff;
}

/*第七部分结束*/