*{
	margin:0;
	padding:0;
}

body{
	font-size:font: 12px/1.62 Helvetica,Arial,sans-serif;
}

a{
	color:#3377AA;
	text-decoration: none;
}

a:hover{
	background:#3377AA ;
	color:#ffffff;
}

img,input{
    border: none;
    border:1px solid none;
}


/*头部导航开始*/
.hd_header{
    width:950px;
    height: 90px;
/*    border: 1px solid red;*/
    margin: 0 auto;
    position: relative;
}

.hd_header a.hd_logo{
    position: absolute;
    top:30px;
    left:0;
}

.hd_header .hd_search{
    position: absolute;
    width:270px;
    height: 34px;
    line-height: 34px;
    left:185px;
    top:32px;
    padding-left: 3px;
    border:1px solid #ccc;
}

.hd_header form img{
    position: absolute;
    width: 13px;
    height: 13px;
    left:435px;
    top:45px;
}

.hd_header ul{
    position: absolute;
    width: 460px;
    height: 23px;
    left: 500px;
    top:37px;
}

.hd_header ul li{
    list-style-type: none;
   float: left;
  margin-right: 20px;
}

.hd_header .hd_last{
    margin-right: 0;
}

.hd_header ul li a{
    display: block;
    width: 42px;
    height: 22px;
}

.hd_header ul li a.hd_a{
    background: url("./images/anony_nav_logo4.png") 0px 0px no-repeat;
}
.hd_header ul li a.hd_b{
    background: url("./images/anony_nav_logo4.png") -58px 0px no-repeat;
}
.hd_header ul li a.hd_c{
    background: url("./images/anony_nav_logo4.png") -119px 0px no-repeat;
}
.hd_header ul li a.hd_d{
    background: url("./images/anony_nav_logo4.png") -179px 0px no-repeat;
}
.hd_header ul li a.hd_e{
    width: 80px;
    background: url("./images/anony_nav_logo4.png") -240px 0px no-repeat;
}
.hd_header ul li a.hd_f{
    background: url("./images/anony_nav_logo4.png") -338px 0px no-repeat;
}
.hd_header ul li a.hd_g{
    background: url("./images/anony_nav_logo4.png") -400px 0px no-repeat;
}
/*头部导航结束*/




/*注册以及下载app推广部分开始*/
.hd_reg{
    width: 100%;
    height: 180px;
    background: #e8edf1;
}
.hd_reg .wrp{
    width: 950px;
    height: 180px;
    margin: 0 auto;
    background:url("./images/doubanapp.png")no-repeat 30px 40px;
    position: relative;
}

.hd_reg .app{
    position: absolute;
    width: 200px;
    height: 108px;
    left:278px;
    top:46px;

}

.hd_reg .app p{
    color:#666666;
    margin-bottom: 10px;
}

.hd_reg .app .douban{
    font-size: 22px;
}

.hd_reg .app .wenzi{
    font-size: 14px;
}
.hd_reg .app a{
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
}


.hd_reg .app a.khd{
    width: 140px;
    height: 32px;
    text-align: center;
    background: #3ca353;
    color:#ffffff;
}

.hd_reg .app a.lianjie{
   border: 1px solid #cccccc;
}
/*注册以及下载app推广部分结束*/