*{
	margin:0;
	padding:0;
}

body{
	font-size:font: 12px/1.62 Helvetica,Arial,sans-serif;
}

a{
	color:#3377AA;
	text-decoration: none;
    font-size: 12px;
}

a:hover{
	background:#3377AA ;
	color:#ffffff;
}

img,input{
    border: none;
    border:1px solid none;
}

li{
    list-style-type: none;
}

.title{
    font-size: 15px;
    color: #072;
    font-weight: 400;
}
/*头部导航开始*/
.hd_header{
    width:950px;
    height: 90px;
/*    border: 1px solid red;*/
    margin: 0 auto;
    position: relative;
}

.hd_header a.hd_logo{
    position: absolute;
    top:30px;
    left:0;
}

.hd_header .hd_search{
    position: absolute;
    width:270px;
    height: 34px;
    line-height: 34px;
    left:185px;
    top:32px;
    padding-left: 3px;
    border:1px solid #ccc;
}

.hd_header form img{
    position: absolute;
    width: 13px;
    height: 13px;
    left:435px;
    top:45px;
}

.hd_header ul{
    position: absolute;
    width: 460px;
    height: 23px;
    left: 500px;
    top:37px;
}

.hd_header ul li{
    list-style-type: none;
   float: left;
  margin-right: 20px;
}

.hd_header .hd_last{
    margin-right: 0;
}

.hd_header ul li a{
    display: block;
    width: 42px;
    height: 22px;
}

.hd_header ul li a.hd_a{
    background: url("./images/anony_nav_logo4.png") 0px 0px no-repeat;
}
.hd_header ul li a.hd_b{
    background: url("./images/anony_nav_logo4.png") -58px 0px no-repeat;
}
.hd_header ul li a.hd_c{
    background: url("./images/anony_nav_logo4.png") -119px 0px no-repeat;
}
.hd_header ul li a.hd_d{
    background: url("./images/anony_nav_logo4.png") -179px 0px no-repeat;
}
.hd_header ul li a.hd_e{
    width: 80px;
    background: url("./images/anony_nav_logo4.png") -240px 0px no-repeat;
}
.hd_header ul li a.hd_f{
    background: url("./images/anony_nav_logo4.png") -338px 0px no-repeat;
}
.hd_header ul li a.hd_g{
    background: url("./images/anony_nav_logo4.png") -400px 0px no-repeat;
}
/*头部导航结束*/




/*注册以及下载app推广部分开始*/
.hd_reg{
    width: 100%;
    height: 180px;
    background: #e8edf1;
}
.hd_reg .wrp{
    width: 950px;
    height: 180px;
    margin: 0 auto;
    background:url("./images/doubanapp.png")no-repeat 30px 40px;
    position: relative;
}

.hd_reg .app{
    position: absolute;
    width: 240px;
    height: 108px;
    left:278px;
    top:46px;
    border-right:1px solid #cccccc;

}

.hd_reg .app p{
    color:#666666;
    margin-bottom: 10px;
}

.hd_reg .app .douban{
    font-size: 22px;
}

.hd_reg .app .wenzi{
    font-size: 14px;
}
.hd_reg .app a{
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
}


.hd_reg .app a.khd{
    width: 134px;
    height: 32px;
    text-align: center;
    background: #3ca353;
    color:#ffffff;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
}

.hd_reg .app a.lianjie{
   border: 1px solid #cccccc;
}

.hd_reg .logo_a,.hd_reg .logo_b{
 /*   display: block;*/
    position: absolute;
    left:570px;
    width:180px;
    height: 34px;
    padding-left: 10px;
}
.hd_reg .logo_a{
    top:19px;
}
.hd_reg .logo_b{
    top:62px;
}

.hd_reg .logo_c{
    position: absolute;
    width: 50px;
    height: 15px;
    left:770px;
    top:73px;
    font-size: 12px;
    color:#3377AA;
}

.hd_reg .logo_d{
    position: absolute;
    width: 50px;
    height: 15px;
    left:553px;
    top:112px;
}

.hd_reg .logo_e{
    position: absolute;
    width: 40px;
    height: 15px;
    left:590px;
    top:112px;
    font-size: 12px;
}

.hd_reg .logo_f,.hd_reg .logo_g{
    /*   display: block;*/
    position: absolute;
    width:75px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    top:135px;
}

.hd_reg .logo_f{
    left:570px;
    background: #3ca353;
    color:#ffffff;
    height: 34px;
    line-height: 34px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
}

.hd_reg .logo_g{
    left:650px;
    border: 1px solid #ef735f;
    color:#ef735f;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
}

/*注册以及下载app推广部分结束*/

/*注册下的广告开始*/
.hd_ad{
    width: 950px;
    height: 90px;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 15px;
}
/*注册下的广告结束*/

/*第一部分内容：热点内容*/
.hd_center_a{
    width: 950px;
    height: 470px;
    margin: 0 auto;
/*    border:1px solid red;*/
    position: relative;
}

.hd_center_a .left{
    position: absolute;
    width: 370px;
    height: 470px;
    /*border:1px solid blue;*/
}

.hd_center_a .left li{
    margin-top: 10px;
    float: left;
    margin-right: 10px;
    width: 170px;
    height: 210px;
}

.hd_center_a .left li a{
   /* display: block;*/
    font-size: 12px;
}

.hd_center_a .left li span{
    font-size: 12px;
    color:#999999;
}

.hd_center_a .cen{
    position: absolute;
    width: 280px;
    height: 470px;
    left:370px;
   /* border:1px solid green;*/

}

.hd_center_a .cen ul{
    margin-top: 25px;
}

.hd_center_a .cen li{
    line-height: 20px;
    margin-bottom: 15px;
}

.hd_center_a .cen li h2{
    font-size: 12px;
    font-weight: 400;
    color:#999999;
}

.hd_center_a .cen li span{
    font-size: 12px;
    color:#666666;
}

.hd_center_a .right{
    position: absolute;
    left: 670px;
    width: 280px;
    height: 470px;
   /* border:1px solid red;*/
}

.hd_center_a .right li{
   margin-left: 12px;
    line-height: 20px;
    margin-bottom: 15px;
}

.hd_center_a .right p,.hd_center_a .right b{
    font-size: 12px;
    color:#999999;
}